<a href="https://colab.research.google.com/github/USE-Computer-Science/lectures/blob/main/final%20countdown/9.%20%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5%20%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D1%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Пример 1.** В файле электронной таблицы в каждой строке содержатся пять натуральных чисел. Определите количество строк таблицы, в которых среднее значение всех пяти чисел меньше среднего значения между максимальным и минимальным из них.

**Ответ:** 2203

In [ ]:
# инициализируем счётчик
cnt = 0

# построчно считываем файл
for s in open('9-25.csv'):
  # формируем список из строки
  row = [int(item) for item in s.split(';')]

  # если среднее всех чисел строки меньше среднего между максимумом и минимумом
  if sum(row) / len(row) < ( max(row) + min(row) ) / 2:
    # увеличиваем счётчик
    cnt += 1

# печатаем ответ
print(cnt)

2203

**Пример 2.** В файле электронной таблицы в каждой строке содержатся четыре натуральных числа. Определите количество строк таблицы, для которых выполнены оба условия:

В строке есть одно повторяющееся ровно 2 раза число;

Сумма квадратов повторяющихся чисел меньше квадрата суммы неповторяющихся.

**Ответ:** 116

In [ ]:
# инициализируем счётчик
cnt = 0

# построчно считываем файл
for s in open('9-24.csv'):
  # разбиваем строку в список с помощью метода split('разделитель')
  # преобразовываем каждый элемент получаемого списка к целому числу int(item)
  row = [int(item) for item in s.split(';')]

  # печатаем для отладки строки файла
  #print(row)

  # пропускаем строки, где не ровно 1 повторяющийся 2 раза элемент
  if len(row) != len(set(row)) + 1:
    continue

  # повторяющееся число
  dup = sum(row) - sum(set(row))
  # сумма неповторяющихся чисел
  sum_unique = sum(row) - 2 * dup

  # если сумма квадратов повторяющихся < квадрата суммы неповторяющихся
  if  dup**2 + dup**2 < sum_unique**2:
    # увеличиваем счётчик
    cnt += 1

# печатаем ответ
print(cnt)

116

**Пример 3.** В каждой строке файла электронной таблицы в каждой строке содержатся четыре натуральных числа. Определите количество строк таблицы, содержащих числа, для которых выполнены оба условия:

1. наибольшее из четырёх чисел меньше суммы трёх других;

2. четыре числа можно разбить на две пары чисел с равными суммами.

**Ответ:** 78

In [ ]:
# инициализируем счётчик
cnt = 0

# построчно считываем файл
for s in open('9-24.csv'):
  # формируем список из строки
  row = [int(item) for item in s.split(';')]

  # сортируем строку
  row = sorted(row)

  # отбрасываем строки, которые невозможно разбить на пары чисел с равными суммами
  if row[1] + row[2] != row[0] + row[3]:
    continue

  # если максимальное число меньше суммы остальных
  if max(row) < sum(row) - max(row):
    # увеличиваем счётчик
    cnt += 1

# печатаем ответ
print(cnt)

78

**Задания**

**1.** В файле электронной таблицы в каждой строке содержатся четыре натуральных числа. Определите количество строк таблицы, для которых выполнены оба условия:

1. Сумма двух наименьших чисел строки не больше второго наибольшего по величине числа строки.

2. В строке нет повторяющихся чисел.

**Ответ:** 1709

In [ ]:
cnt = 0

for s in open('9-24.csv'):

  row = [int(item) for item in s.split(';')]

  if len(row) != len(set(row)):
    continue

  row = sorted(row)

  if row[0] + row[1] <= row[2]:
    cnt += 1

print(cnt)

1709

**2.** Откройте файл электронной таблицы, содержащей в каждой строке пять натуральных чисел.

Определите количество строк таблицы, содержащих числа, для которых выполнены оба условия:

1. Каждое число в строке встречается по одному разу.

2. Утроенная сумма максимального и минимального значений превышает удвоенную сумму оставшихся чисел.

**Ответ:** 1974

In [ ]:
f = open('9-25.csv')

# счётчик подходящих строк
cnt = 0
for s in f:
  # построчно считываем файл в список
  row = [int(item) for item in s.split(';')]
  # пропускаем строки, в которых есть повторяющиеся элементы
  if len(row) != len(set(row)):
    continue

  # если утроенная сумма макс и мин значений строки не превышает удвоенной суммы оставшихся чисел
  if 3*(min(row) + max(row)) > 2*(sum(row) - min(row) - max(row)):
    # увеличиваем счётчик на 1
    cnt += 1
print(cnt)

1974

**3.** В файле электронной таблицы в каждой строке содержатся четыре натуральных числа. Определите количество строк таблицы, содержащих числа, для которых одновременно выполнены оба условия:

1. наибольшее из четырёх чисел больше суммы трёх других;

2. среди четырех чисел есть только одна пара равных чисел.

**Ответ:** 40

In [ ]:
cnt = 0

for s in open('9-24.csv'):

  row = [int(item) for item in s.split(';')]

  if len(row) != len(set(row)) + 1:
    continue

  if max(row) > sum(row) - max(row):
    cnt += 1

print(cnt)

40

**4.** В каждой строке файла электронной таблицы записаны пять натуральных чисел. Определите количество строк таблицы, в которых одновременно выполняются 2 условия:
1. Все числа в строке различны.
2. Больше половины чисел превосходят по величине среднее арифметическое всех чисел строки.

**Ответ:** 911

In [ ]:
cnt = 0

for s in open('9-25.csv'):

  row = [int(item) for item in s.split(';')]

  if len(row) == len(set(row)):
    row = sorted(row)
    mean = sum(row) / len(row)
    if row[2] > mean:
      cnt += 1

print(cnt)

911

**5.** Откройте файл электронной таблицы, содержащей в каждой строке пять натуральных чисел.

Определите количество строк таблицы, для которых выполнены все условия:

1. В строке встречается ровно четыре различных числа (одно из них два раза, три – по одному).

2. Сумма повторяющихся чисел не больше суммы неповторяющихся.

**Ответ:** 272

In [ ]:
f = open('9-25.csv')

# счётчик подходящих строк
cnt = 0
for s in f:
  # построчно считываем файл в список
  row = [int(item) for item in s.split(';')]
  # пропускаем строки, в которых не ровно 1 повторяющийся элемент
  if len(row) != len(set(row)) + 1:
    continue

  sum_dup = (sum(row) - sum(set(row))) * 2
  sum_uniques = sum(row) - sum_dup

  # если сумма повторяющихся элементов больше суммы неповторяющихся
  if sum_dup <= sum_uniques:
    # увеличиваем счётчик на 1
    cnt += 1
print(cnt)

272

**6.** В файле электронной таблицы в каждой строке содержатся шесть натуральных чисел. Определите минимальную сумму строки таблицы, для которой одновременно выполняются оба условия:

1. Сумма наименьшего и наибольшего чисел строки не больше суммы остальных чисел строки.

2. В строке нет повторяющихся чисел.

**Ответ:** 44

In [ ]:
mn = float('inf')

for s in open('9-26.csv'):

  row = [int(item) for item in s.split(';')]

  if len(row) != len(set(row)):
    continue

  row = sorted(row)

  if row[0] + row[5] <= sum(row) - row[0] - row[5]:
    mn = min(mn, sum(row))

print(mn)

44

**7.** В файле электронной таблицы в каждой строке содержатся четыре натуральных числа. Определите максимальную сумму строки таблицы, которая содержащит числа, для которых одновременно выполнены оба условия:

1. В строке есть повторяющееся ровно 3 раза число;

2. Куб неповторяющегося числа меньше произведения повторяющихся чисел.

**Ответ:** 311

In [ ]:
mx = 0

for s in open('9-24.csv'):

  row = [int(item) for item in s.split(';')]

  if len(set(row)) != 2:
    continue

  for item in row:
    if row.count(item) == 3:
      triple = item
      unique = sum(row) - 3 * triple
      if unique**3 < triple**3:
        mx = max(mx, sum(row))

print(mx)

311